doctype html
-
  const stashed = []; 
  const fine = []; 

  computers.forEach((c)=> {
    if(c.isStashed){
      stashed.push(c);
      return;
    }

    fine.push(c);
  })
div.grid.is-col-min-32
  div.cell
    div.tags.mb-1
      h3.title Computers
      span.tag.is-rounded Free
      span.tag.is-rounded.is-danger Occupied
    table.table.is-stripped.is-bordered.is-hoverable.is-fullwidth.is-narrow
      thead
        tr
          th Name
          th Desk 
          th Occupier (name, email) 
          th Actions
      tbody(id="computers")
        if !fine.length
          tr
            td.has-text-centered(colspan="10") No items
        else
          each computer in fine
            if computer.isOccupied
              tr.is-danger.is-light(id=`tr-${computer.id}`)
                td= computer.name 
                td= computer.deskId
                td= computer.occupantName + " (" + computer.occupantEmail + ")"
                td(style="width:300px" colspan="2")
                  form.field(
                    hx-post="/computers/unbook"
                    hx-target=`#tr-${computer.id}`
                    hx-target-403=`#unbook-error-${computer.id}`
                    hx-swap="outerHTML" 
                  )
                    input.button.is-small.is-success.is-light(
                      type="submit"
                      value= "unbook"
                    ) 
                    input(
                      type="hidden"
                      name="id"
                      value=computer.id
                    )
                    div.help.is-danger
                      p(id=`unbook-error-${computer.id}`)
            else
              tr(id=`tr-${computer.id}`)
                td= computer.name
                td= computer.deskId
                td(style="width:300px")
                  button.button.is-small.is-danger.is-light(
                    id=`book-${computer.id}`
                    hx-get=`/computers/book-form/${computer.id}`
                    hx-target="this" 
                    hx-swap="outerHTML"
                  ) Book

                td(style="width:300px")
                  button.button.is-small.is-warning.is-light(
                    hx-get=`/computers/stash-form/${computer.id}`
                    hx-target="this" 
                    hx-swap="outerHTML"
                  ) Stash

  div.cell
    h3.title Stashed 
    table.table.is-stripped.is-bordered.is-hoverable.is-fullwidth.is-narrow
      thead
        tr.is-warning
          th Name
          th deskId
          th Stash Reason
          th
      tbody(id="new-computer")
        if !stashed.length
          tr
            td.has-text-centered(colspan="10") No items
        else 
          each computer in stashed
            tr 
              td= computer.name
              td= computer.deskId
              td= computer.stashReason
              td(style="width:300px")
                form.field(
                  hx-post="/computers/unstash"
                  hx-target="#main"
                  hx-target-403=`#unstash-error-${computer.id}`
                  hx-swap="innerHTML" 
                )
                  input.button.is-small.is-success.is-light(
                    type="submit"
                    value= "Unstash"
                  ) 
                  input(
                    type="hidden"
                    name="id"
                    value=computer.id
                  )
                  div.help.is-danger
                    p(id=`unstash-error-${computer.id}`)